.sui-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.sui-flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
}
.sui-flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
}
.sui-flexcenter-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sui-flexcenter-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sui-flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.sui-flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}
.sui-flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}
.sui-flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}
@font-face {
  font-family: "suiicon";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}
.sui-icon {
  font-family: "suiicon" !important;
  font-size: 1.8rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.sui-icon-e001:before {
  content: "\e001";
}
.sui-icon-e002:before {
  content: "\e002";
}
.sui-icon-e003:before {
  content: "\e003";
}
.sui-icon-e004:before {
  content: "\e004";
}
.sui-icon-e005:before {
  content: "\e005";
}
.sui-icon-e006:before {
  content: "\e006";
}
.sui-icon-e007:before {
  content: "\e007";
}
.sui-icon-e008:before {
  content: "\e008";
}
.sui-icon-e009:before {
  content: "\e009";
}
.sui-icon-e010:before {
  content: "\e010";
}
.sui-icon-e011:before {
  content: "\e011";
}
.sui-icon-e012:before {
  content: "\e012";
}
.sui-icon-e013:before {
  content: "\e013";
}
.sui-icon-e014:before {
  content: "\e014";
}
.sui-icon-e015:before {
  content: "\e015";
}
.sui-icon-e016:before {
  content: "\e016";
}
.sui-icon-e017:before {
  content: "\e017";
}
.sui-icon-e018:before {
  content: "\e018";
}
.sui-icon-e019:before {
  content: "\e019";
}
.sui-icon-e020:before {
  content: "\e020";
}
.sui-icon-e021:before {
  content: "\e021";
}
.sui-icon-e022:before {
  content: "\e022";
}
.sui-icon-e023:before {
  content: "\e023";
}
.sui-icon-e024:before {
  content: "\e024";
}
.sui-icon-e025:before {
  content: "\e025";
}
.sui-icon-e026:before {
  content: "\e026";
}
.sui-icon-e027:before {
  content: "\e027";
}
.sui-icon-e028:before {
  content: "\e028";
}
.sui-icon-e029:before {
  content: "\e029";
}
.sui-icon-e030:before {
  content: "\e030";
}
.sui-icon-e031:before {
  content: "\e031";
}
.sui-icon-e032:before {
  content: "\e032";
}
.sui-icon-e033:before {
  content: "\e033";
}
.sui-icon-e034:before {
  content: "\e034";
}
.sui-icon-e035:before {
  content: "\e035";
}
.sui-icon-e036:before {
  content: "\e036";
}
.sui-icon-e037:before {
  content: "\e037";
}
.sui-icon-e038:before {
  content: "\e038";
}
.sui-icon-e039:before {
  content: "\e039";
}
.sui-icon-e040:before {
  content: "\e040";
}
.sui-icon-e041:before {
  content: "\e041";
}
.sui-icon-e042:before {
  content: "\e042";
}
.sui-icon-e043:before {
  content: "\e043";
}
.sui-icon-e044:before {
  content: "\e044";
}
.sui-icon-e045:before {
  content: "\e045";
}
.sui-icon-e046:before {
  content: "\e046";
}
.sui-icon-e047:before {
  content: "\e047";
}
.sui-icon-e048:before {
  content: "\e048";
}
.sui-icon-e049:before {
  content: "\e049";
}
.sui-icon-e050:before {
  content: "\e050";
}
.sui-icon-e051:before {
  content: "\e051";
}
.sui-icon-e052:before {
  content: "\e052";
}
.sui-icon-e053:before {
  content: "\e053";
}
.sui-icon-e054:before {
  content: "\e054";
}
.sui-icon-e055:before {
  content: "\e055";
}
.sui-icon-e056:before {
  content: "\e056";
}
.sui-icon-e057:before {
  content: "\e057";
}
.sui-icon-e058:before {
  content: "\e058";
}
.sui-icon-e059:before {
  content: "\e059";
}
.sui-icon-e060:before {
  content: "\e060";
}
.sui-icon-e061:before {
  content: "\e061";
}
.sui-icon-e062:before {
  content: "\e062";
}
.sui-icon-e063:before {
  content: "\e063";
}
.sui-icon-e064:before {
  content: "\e064";
}
.sui-icon-e065:before {
  content: "\e065";
}
.sui-icon-e066:before {
  content: "\e066";
}
.sui-icon-e067:before {
  content: "\e067";
}
.sui-icon-e068:before {
  content: "\e068";
}
.sui-icon-e069:before {
  content: "\e069";
}
.sui-icon-e070:before {
  content: "\e070";
}
.sui-icon-e071:before {
  content: "\e071";
}
.sui-icon-e072:before {
  content: "\e072";
}
.sui-icon-e073:before {
  content: "\e073";
}
.sui-icon-e074:before {
  content: "\e074";
}
.sui-icon-e075:before {
  content: "\e075";
}
.sui-icon-e076:before {
  content: "\e076";
}
.sui-icon-e077:before {
  content: "\e077";
}
