@charset "UTF-8";
/**
	@style sui v0.0.1
	@author gengwenx
	@date 2017/04/13
*/
html,
body {
  -webkit-tap-highlight-color: transparent;
  font-family: Microsoft YaHei, Arial, sans-serif;
  background-color: #fff;
}
html,
body,
div,
button,
input,
img,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
textarea,
table,
th,
td {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}
a {
  color: #007aff;
  text-decoration: none;
}
a:active {
  color: #0062cc;
}
b,
strong {
  font-weight: bold;
}
[hidden],
template {
  display: none;
}
.sui-inline {
  display: inline-block;
  vertical-align: top;
}
.sui-block {
  display: block !important;
}
.sui-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sui-ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sui-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.sui-flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
}
.sui-flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
}
.sui-flexcenter-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sui-flexcenter-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sui-flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.sui-flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}
.sui-flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}
.sui-flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}
.sui-flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}
@media screen and (max-width: 480px) {
  .sui-row-xs-1 {
    width: 8.33333333%;
  }
  .sui-row-xs-2 {
    width: 16.66666667%;
  }
  .sui-row-xs-3 {
    width: 25%;
  }
  .sui-row-xs-4 {
    width: 33.33333333%;
  }
  .sui-row-xs-5 {
    width: 41.66666667%;
  }
  .sui-row-xs-6 {
    width: 50%;
  }
  .sui-row-xs-7 {
    width: 58.33333333%;
  }
  .sui-row-xs-8 {
    width: 66.66666667%;
  }
  .sui-row-xs-9 {
    width: 75%;
  }
  .sui-row-xs-10 {
    width: 83.33333333%;
  }
  .sui-row-xs-11 {
    width: 91.66666667%;
  }
  .sui-row-xs-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .sui-row-sm-1 {
    width: 8.33333333%;
  }
  .sui-row-sm-2 {
    width: 16.66666667%;
  }
  .sui-row-sm-3 {
    width: 25%;
  }
  .sui-row-sm-4 {
    width: 33.33333333%;
  }
  .sui-row-sm-5 {
    width: 41.66666667%;
  }
  .sui-row-sm-6 {
    width: 50%;
  }
  .sui-row-sm-7 {
    width: 58.33333333%;
  }
  .sui-row-sm-8 {
    width: 66.66666667%;
  }
  .sui-row-sm-9 {
    width: 75%;
  }
  .sui-row-sm-10 {
    width: 83.33333333%;
  }
  .sui-row-sm-11 {
    width: 91.66666667%;
  }
  .sui-row-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .sui-row-md-1 {
    width: 8.33333333%;
  }
  .sui-row-md-2 {
    width: 16.66666667%;
  }
  .sui-row-md-3 {
    width: 25%;
  }
  .sui-row-md-4 {
    width: 33.33333333%;
  }
  .sui-row-md-5 {
    width: 41.66666667%;
  }
  .sui-row-md-6 {
    width: 50%;
  }
  .sui-row-md-7 {
    width: 58.33333333%;
  }
  .sui-row-md-8 {
    width: 66.66666667%;
  }
  .sui-row-md-9 {
    width: 75%;
  }
  .sui-row-md-10 {
    width: 83.33333333%;
  }
  .sui-row-md-11 {
    width: 91.66666667%;
  }
  .sui-row-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .sui-row-lg-1 {
    width: 8.33333333%;
  }
  .sui-row-lg-2 {
    width: 16.66666667%;
  }
  .sui-row-lg-3 {
    width: 25%;
  }
  .sui-row-lg-4 {
    width: 33.33333333%;
  }
  .sui-row-lg-5 {
    width: 41.66666667%;
  }
  .sui-row-lg-6 {
    width: 50%;
  }
  .sui-row-lg-7 {
    width: 58.33333333%;
  }
  .sui-row-lg-8 {
    width: 66.66666667%;
  }
  .sui-row-lg-9 {
    width: 75%;
  }
  .sui-row-lg-10 {
    width: 83.33333333%;
  }
  .sui-row-lg-11 {
    width: 91.66666667%;
  }
  .sui-row-lg-12 {
    width: 100%;
  }
}
.sui-float-clear {
  zoom: 1;
}
.sui-float-clear:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.sui-float-left {
  float: left;
}
.sui-float-right {
  float: right;
}
@font-face {
  font-family: "suiicon";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}
.sui-icon {
  font-family: "suiicon" !important;
  font-size: 1.8rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.sui-icon-e1:before {
  content: "\e1";
}
.sui-icon-e2:before {
  content: "\e2";
}
.sui-icon-e3:before {
  content: "\e3";
}
.sui-icon-e4:before {
  content: "\e4";
}
.sui-icon-e5:before {
  content: "\e5";
}
.sui-icon-e6:before {
  content: "\e6";
}
.sui-icon-e7:before {
  content: "\e7";
}
.sui-icon-e8:before {
  content: "\e8";
}
.sui-icon-e9:before {
  content: "\e9";
}
.sui-icon-e10:before {
  content: "\e10";
}
.sui-icon-e11:before {
  content: "\e11";
}
.sui-icon-e12:before {
  content: "\e12";
}
.sui-icon-e13:before {
  content: "\e13";
}
.sui-icon-e14:before {
  content: "\e14";
}
