.sui-flex{
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
}

.sui-flex-col{
	.sui-flex;

	-webkit-box-orient:vertical;
	-webkit-flex-flow:column;
	flex-flow:column;

}

.sui-flex-row{
	.sui-flex;

	-webkit-box-orient:horizontal;
	-webkit-flex-flow:row;
	flex-flow:row;
}

.sui-flexcenter-row{
	.sui-flex;

	-webkit-box-orient:horizontal;
	-webkit-flex-flow:row;
	flex-flow:row;

	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	justify-content:center;
}

.sui-flexcenter-col{
	.sui-flex;

	-webkit-box-orient:vertical;
	-webkit-flex-flow:column;
	flex-flow:column;

	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	justify-content:center;
}

.sui-flex-1{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
}

.sui-flex-2{
	-webkit-box-flex:2;
	-webkit-flex:2;
	flex:2;
}

.sui-flex-3{
	-webkit-box-flex:3;
	-webkit-flex:3;
	flex:3;
}

.sui-flex-4{
	-webkit-box-flex:4;
	-webkit-flex:4;
	flex:4;
}